@import url("./zero_styles.css");

.container {
  background-color: #656565;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}
.botton_box {
  margin-top: 50px;
  display: flex;
  background-color: rgb(25, 108, 251);
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  gap: 5px;
  border-radius: 5px;
}
.change {
  height: 50px;
  width: 200px;
  background-color: rgb(25, 108, 251);
  font-size: 20px;
}
.svg_box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  width: 25px;
  margin-right: 15px;
}
